/* DARK ROOM */

/*
html::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: red;
  mix-blend-mode: darken;
  pointer-events: none;
  z-index: 9999;
}
*/

/*
body {
  filter: invert(100%) hue-rotate(180deg);
}
*/

div{
  transition: 0.02s;
  transition-timing-function: steps(4, end);
}


/*SANDBOX / lookup SANDBOX to find all custom CSS*/
body {
  background-image: var(--background);
  background-size: auto 150%;
  background-attachment: scroll;
  font-weight: 200;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  cursor: url('../images/cursor.png') 53 53, auto;
  overflow-x: hidden;
}


/* ensuring cursor adoption */

a {
  cursor: inherit;
}

a:hover{
  cursor: url('../images/cursor-link.png') 53 53, auto;
}

button {
  cursor: inherit;
}

button:hover{
  cursor: url('../images/cursor-link.png') 53 53, auto;
}


/*SANDBOX*/
:root {
  --background: none;
  --chaosSwitchPosition: 3px;
  --chaosTextShadow: none;
  --chaosFont: 'JetBrains Mono', monospace;
  --calendarBG: grey;
  --avBG: black;
}

/*SANDBOX*/
.darkmode {
  --background: none;
  --chaosSwitchPosition: 15px;
  --chaosTextShadow: -20px 0 white, 0 20px white, 20px 0 white, 0 -20px white;
  --chaosFont: 'Arial', sans-serif;
  --calendarBG: ;
  --avBG: ;
}



/* BACKGROUND CHAOS */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200vw;
  height: 200vh;
  background: url('../images/44444444.png');
  background-repeat: repeat;
  z-index: -1;
  transform: skew(0deg);
  pointer-events: none;
  transform: skew(var(--bg-skew-x, 0deg), var(--bg-skew-y, 0deg));
  display: none;
  overflow-x: hidden;
}

body.background-active::before {
  display: block; /* show when 'background-active' class is present */
}

/* END OF BACKGROUND CHAOS */

img {
  display: inline-block;
}

/*SANDBOX*/
.body {
  display: block;
  max-width: 2600px;
  min-width: 320px;
  border: 1px none #000;
  border-radius: 1px;
  font-family: var(--chaosFont);
  text-shadow: var(--chaosTextShadow);
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

.header {
  position: static;
  overflow: visible;
  width: 100%;
  border-bottom: 1px none #000;
}

.thesection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 320px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 1px none #000;
  border-radius: 1px;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  cursor: inherit;
  text-decoration: none;
}

.thumb.booking{
  display: none;
}

.thumb.bphone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  text-decoration: none;
  background-size: auto 60%;
  background-position: center;
  background-image: url('../images/phone.png');
}

.thumb.bphone:hover {
  background-color: #d2d2d2;
}

.thumb.tide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  color: #000;
  text-decoration: none;
  background-size: 280px;
  background-image: url('../images/fairphone-display-800_x_800.png');
}

.thumb.tide2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  color: #000;
  text-decoration: none;
  background-size: 280px;
  background-image: url('../images/Products_Mockup_4-min.png');
}

.thumb.tide:hover {
  background-color: #d2d2d2;
}

.thumb.data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  color: #000;
  text-decoration: none;
  background-size: auto 45%;
  background-image: url('../images/ford.png');
}

.thumb.data:hover {
  background-color: #d2d2d2;
}

.thumb.akodont {
  overflow: hidden;
  background-image: url('../images/gluedposter-mockup-freebie.png');
  background-position: 50% 50%;
  background-size: auto 75%;
  color: #000;
  text-decoration: none;
}

.thumb.akodont:hover {
  background-color: #d2d2d2;
}

.thumb.ade {
  display: none;
  background-image: url('../images/Scene-7.png');
  background-position: 50% 53%;
  background-size: auto 70%;
  color: #000;
  text-decoration: none;
}

.thumb.ade:hover {
  background-color: #d2d2d2;
}

.thumb.blei {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-image: url('../images/feed-peek-logo-800.png');
  background-size: auto 85%;
  background-repeat: none;
  color: #000;
  text-decoration: none;
}

.thumb.blei:hover {
  background-color: #d2d2d2;
}

.thumb.bleimag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-image: url('../images/Mockup.png');
  background-size: auto 85%;
  background-repeat: none;
  color: #000;
  text-decoration: none;
  display: none;
}

.thumb.bleimag:hover {
  background-color: #d2d2d2;
}

.thumb.buma {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-image: url('../images/plugin.png');
  background-size: auto 60%;
  background-repeat: none;
  color: #000;
  text-decoration: none;
  display: none;
}

.thumb.buma:hover {
  background-color: #d2d2d2;
}

.thumb.barxp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-image: url('../images/barxp.png');
  background-size: auto 85%;
  background-repeat: none;
  color: #000;
  text-decoration: none;
}

.thumb.barxp:hover {
  background-color: #d2d2d2;
}

.thumb.iftf {
  display: none;
  overflow: visible;
  background-image: url('../images/vinil.png');
  background-size: auto 55%;
  color: #000;
  text-decoration: none;
}

.thumb.iftf:hover {
  background-color: #d2d2d2;
}

.thumb.iftf.w--current {
  display: none;
}

.thumb.highs {
  display: none;
  background-image: url('../images/MockUp_1.png');
  background-position: 50% 55%;
  background-size: auto 75%;
  color: #000;
  text-decoration: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.thumb.highs:hover {
  background-color: #d2d2d2;
}

.thumb.kys {
  background-image: url('../images/MacBook-Pro-16.png');
  color: #000;
  text-decoration: none;
  display: none;
}

.thumb.kys:hover {
  background-color: #d2d2d2;
}

.thumb.megatable {
  background-image: url('../images/megatable_thumb.png');
  background-size: auto 67%;
  color: #000;
  text-decoration: none;
}

.thumb.megatable:hover {
  background-color: #d2d2d2;
}

.thumb.forms {
  background-image: url('../images/antenna2.png');
  background-size: auto 70%;
  color: #000;
  text-decoration: none;
  display: none;
}

.thumb.forms:hover {
  background-color: #d2d2d2;
  opacity: 1;
}

.thumb.forms.w--current {
  color: #000;
  text-decoration: none;
}

/*display:none */
.thumb.tsh {
  background-image: url('../images/MockUp888888_1.png');
  color: #000;
  text-decoration: none;
  display:none;
}

.thumb.tsh:hover {
  background-color: #d2d2d2;
}

.thumb.web3 {
  background-image: url('../images/web3_thumb.png');
  color: #000;
  text-decoration: none;
  background-size: auto 80%;
  display: none;
}

.thumb.web3:hover {
  background-color: #d2d2d2;
}

.thumb.mentelity {
  background-image: url('../images/mentelity_cover.png');
  color: #000;
  text-decoration: none;
  background-size: auto 80%;
  display: none;
}

.thumb.mentelity:hover {
  background-color: #d2d2d2;
}

.thumb.rounds {
  background-image: url('../images/hnkgm-min-thumb.png');
  background-size: auto 70%;
  background-repeat: none;
  color: #000;
  text-decoration: none;
}

.thumb.rounds:hover {
  background-color: #d2d2d2;
}

.thumb.gosh {
  background-image: url('../images/gosh-jersey-800.png');
  color: #000;
  text-decoration: none;
  background-size: auto 55%;
  display: none;
}

.thumb.gosh:hover {
  background-color: #d2d2d2;
}

.thumb.wp {
  background-image: url('../images/wine-amarelo1-4ec359695a266ed68916201524771260-640-0.png');
  background-position: 50% 55%;
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #000;
  text-decoration: none;
}

.thumb.wp:hover {
  background-color: #d2d2d2;
}

.thumb.bose {
  background-image: url('../images/TINI.png');
  background-position: 50% 60%;
  background-size: auto 57%;
  color: #000;
  text-decoration: none;
}

.thumb.bose:hover {
  background-color: #d2d2d2;
}

.thumb.magnus {
  background-image: url('../images/Screen-Shot-2021-09-05-at-15.23.11.png');
  background-size: auto 40%;
}

.thumb.magnus:hover {
  background-color: #d2d2d2;
}

.thumb.empty {
  display: none;
  background-image: none;
}

.thumb.empty:hover {
  background-color: #d2d2d2;
}

.thumb.comboakounb {
  overflow: hidden;
  background-image: url('../images/0combo.png');
  background-position: 50% 50%;
  background-size: auto 90%;
  color: #000;
  text-decoration: none;
}

.thumb.comboakounb:hover {
  background-color: #d2d2d2;
}

.div-block-2 {
  min-height: 400px;
  min-width: 400px;
}

.link {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  cursor: inherit;
}

.link.projectname {
  font-weight: 300;
}

.inheadertitlebox {
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 12px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #fff;
}

.title {
  height: 30px;
  padding-top: 12px;
  padding-right: 12px;
  padding-left: 12px;
  font-weight: 800;
}

.thumbtitletext {
  display: block;
  color: #000;
  font-size: 12px;
  font-weight: 200;
  text-decoration: none;
}

.thumbtitletext.whitetext {
  color: #fff;
}

.thumbtagcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 95%;
  padding: 12px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.thumbtagcontainer.projectpage {
  max-width: 40%;
  justify-content: center;
}

.thumbtag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2.2em;
  margin-top: 12px;
  margin-right: 12px;
  padding: 12px 9px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 11px;
  text-decoration: none;
  min-width: 33px;
}

.thumbtag.new{
  border: 1px solid blue;
  color: white;
  background-color: blue;
}

.thumbtag.iml {
  margin-top: 0px;
  padding: 9px;
  min-width: 53px;
}

.thumbtag.ff {
  margin-top: 0px;
  padding: 9px;
  min-width: 35px;
  height: unset;
}

.thumbtag.medal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: blue;
}

.myname {
  padding-right: 12px;
  text-align: left;
}

.myname.hiddent {
  color: #e2e2e2;
}

.introcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #000;
}

.introcontainer.ff{
  max-height:95vh;
}

.iamlegend {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 12px;
  margin-bottom: 5px;
}

.iamlegend.rules{
  justify-content: start;
  text-transform: uppercase;
}

.imltexto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2.6em;
  padding-right: 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraphdiv {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 50%;
  padding: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-right: 1px solid #000;
}

.paragraphdiv.heymy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 20rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.paragraphdiv.heymy.files{
  padding: unset;
  overflow: scroll;
  justify-content: START;
}

.paragraphdiv.rules{
  justify-content: start;
  padding: unset;
  overflow: scroll;
}

.butialso {
  padding-right: 95px;
  text-align: right;
  margin-bottom: 7px;
}

.eezaaki {
  position: absolute;
  left: 295px;
  top: 1px;
}

.imagearrow {
  position: absolute;
  left: 180px;
  top: -4px;
}

/*SANDBOX*/
.chaosorder {
  position: relative;
  bottom: -3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-image: var(--background);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  cursor: inherit;
}

/*SANDBOX*/
.coselectorwrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 10px;
  padding-right: 3px;
  padding-left: var(--chaosSwitchPosition);
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 20px;
  cursor: inherit;
}

.theblackcircle {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #000;
  cursor: inherit;
}

.cotext {
  padding-right: 7px;
  padding-left: 7px;
}

.theproject {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 16rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  border-bottom: 1px solid #000;
}

.contactbye {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-bottom: 1px solid #000;
}

.calendarbye {
  border-bottom: 1px solid #000;
}

.contactbye.about {
  height: 60px;
}

.contactbye.respiro {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.rodalink {
  padding-right: 12px;
  padding-left: 12px;
}

.image-2 {
  height: 70%;
  padding-left: 12px;
}

.contact {
  padding-right: 0px;
  color: #000;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  cursor: inherit;
}

.contact.email {
  margin-top: 0px;
  margin-bottom: 8px;
}

.text-block-2 {
  font-weight: 700;
}

.bold-text {
  font-weight: 300;
}

.contactblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #000;
}

.me {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #000;
}

.linkmesmobox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.image-3 {
  height: 70%;
}

.image-4 {
  display: block;
  height: 50%;
  margin-bottom: 44px;
  padding-right: 12px;
  padding-left: 12px;
}

.acabou {
  margin-bottom: 44px;
}

.text-block-3 {
  text-align: center;
}

.projectblock50 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 30rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #000;
}

.projectblock50.full {
  width: 100%;
  border-bottom: 1px solid #000;
}

.projectblock50.half {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.projectblock50.half.blei3 {
  background-image: url('../images/blei3.png');
  background-position: 50% 50%;
  background-size: 100%;
}

.projectblock50.half.blei4 {
  background-image: url('../images/blei4.png');
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.projectblock50.half.blei5 {
  background-image: url('../images/blei5.png');
  background-position: 50% 50%;
  background-size: 100%;
}

.projectblock50.half.blei6 {
  background-image: url('../images/blei6.png');
}

.projectblock50.wpdescription {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.projectbar50-50 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #000;
}

.projectbar100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 30rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #000;
  border-bottom: 1px none #000;
}



.projectbar100.cover {
  min-height: 95vh;
  border-top-style: none;
}

.projectbar100.cover.blei {
  background-image: url('../images/Mockup-min.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.projectbar100.cover.blei2 {
  border-top-style: solid;
  background-color: #d2d2d2;
  background-image: url('../images/blei7.png');
  background-position: 50% 50%;
  background-size: cover;
}

.projectbar100.cover.blei3 {
  border-top-style: solid;
  background-color: #d2d2d2;
  background-image: url('../images/blei3.png');
  background-position: 50% 50%;
  background-size: 110%;
  background-repeat: no-repeat;
}

.projectbar100.cover.blei4 {
  border-top-style: solid;
  background-color: #d2d2d2;
  background-image: url('../images/blei4.png');
  background-position: 50% 50%;
  background-size: 110%;
  background-repeat: no-repeat;
}

.projectbar100.cover.blei5 {
  border-top-style: solid;
  background-color: #d2d2d2;
  background-image: url('../images/blei5.png');
  background-position: 50% 50%;
  background-size: 110%;
  background-repeat: no-repeat;
}

.projectbar100.cover.blei6 {
  border-top-style: solid;
  background-color: #d2d2d2;
  background-image: url('../images/blei6.png');
  background-position: 50% 50%;
  background-size: 110%;
  background-repeat: no-repeat;
}

.projectbar100.cover.hscover {
  background-color: #d2d2d2;
  background-image: url('../images/haute.png');
  background-position: 50% 50%;
  background-size: auto 75%;
  background-repeat: no-repeat;
}

.projectbar100.cover.web3 {
  background-color: #d2d2d2;
  background-image: url('../images/web3_hero.png');
  background-position: 50% 50%;
  background-size: auto 85%;
  background-repeat: no-repeat;
}

.projectbar100.cover.datashowcase {
  background-color: #d2d2d2;
  background-image: url('../images/ford.png');
  background-position: 50% 50%;
  background-size: auto 65%;
  background-repeat: no-repeat;
}

.projectbar100.cover.mentelity {
  background-color: #d2d2d2;
  background-image: url('../images/mentelity_cover.png');
  background-position: 50% 50%;
  background-size: auto 75%;
  background-repeat: no-repeat;
}

.projectbar100.cover.buma {
  background-color: #d2d2d2;
  background-image: url('../images/plugin.png');
  background-position: 50% 50%;
  background-size: auto 65%;
  background-repeat: no-repeat;
}

.projectbar100.cover.gosh {
  background-color: #d2d2d2;
  background-image: url('../images/gosh-jersey.png');
  background-position: 50% 50%;
  background-size: auto 55%;
  background-repeat: no-repeat;
}

.projectbar100.cover.eucover {
  background-color: #d2d2d2;
  background-image: url('../images/fairphone-display-2000_x_2000.png');
  background-position: 50% 50%;
  background-size: auto 75%;
  background-repeat: no-repeat;
}

.projectbar100.cover.tide {
  background-color: #d2d2d2;
  background-image: url('../images/Products_Mockup_4-min-p-2000.png');
  background-position: 50% 50%;
  background-size: auto 75%;
  background-repeat: no-repeat;
}

.projectbar100.cover.feedpeekcover {
  background-color: #d2d2d2;
  background-image: url('../images/feed-peek-logo.png');
  background-position: 50% 50%;
  background-size: auto 95%;
  background-repeat: no-repeat;
}

.projectbar100.cover.phonecover {
  background-color: #d2d2d2;
  background-image: url('../images/phone.png');
  background-position: 50% 50%;
  background-size: auto 60%;
  background-repeat: no-repeat;
}

.projectbar100.cover.tshcover {
  background-color: #d2d2d2;
  background-image: url('../images/MockUp888888_1.png');
  background-position: 50% 50%;
  background-size: auto 75%;
  background-repeat: no-repeat;
}

.projectbar100.cover.bosecover {
  background-color: #d2d2d2;
  background-image: url('../images/TINI.png');
  background-position: 50% 64%;
  background-size: auto 60%;
  background-repeat: no-repeat;
}

.projectbar100.cover.wpcover {
  background-color: #d2d2d2;
  background-image: url('../images/wine-amarelo1-4ec359695a266ed68916201524771260-640-0.png');
  background-position: 50% 50%;
  background-size: auto 60%;
  background-repeat: no-repeat;
}

.projectbar100.cover.kyscover {
  background-color: #d2d2d2;
  background-image: url('../images/MacBook-Pro-16.png');
  background-position: 50% 50%;
  background-size: auto 75%;
  background-repeat: no-repeat;
}

.projectbar100.cover.megatable {
  background-color: #d2d2d2;
  background-image: url('../images/megatable_cover.png');
  background-position: 50% 50%;
  background-size: auto 75%;
  background-repeat: no-repeat;
}

.projectbar100.cover.barxp {
  background-color: #d2d2d2;
  background-image: url('../images/barxp.png');
  background-position: 50% 50%;
  background-size: auto 80%;
  background-repeat: no-repeat;
}

.projectbar100.cover.rounds {
  background-color: #d2d2d2;
  background-image: url('../images/hnkgm-min.png');
  background-position: 50% 50%;
  background-size: auto 80%;
  background-repeat: no-repeat;
}

.projectbar100.cover.adecover {
  background-color: #d2d2d2;
  background-image: url('../images/Scene-7.png');
  background-position: 50% 50%;
  background-size: auto 75%;
  background-repeat: no-repeat;
}

.projectbar100.cover.tgacover-gif {
  background-color: #d2d2d2;
  background-image: url('../images/upload-a4023d5f-519e-4de3-b8b2-a2d30f6937c2.gif');
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
}

.projectbar100.cover.formscover {
  background-color: #d2d2d2;
  background-image: url('../images/antenna2.png');
  background-position: 50% 50%;
  background-size: auto 75%;
  background-repeat: no-repeat;
}

.projectbar100.cover.iftfcover {
  background-color: #d2d2d2;
  background-image: url('../images/vinil.png');
  background-position: 50% 50%;
  background-size: auto 65%;
  background-repeat: no-repeat;
  border-top: 1px solid #000;
}

.projectbar100.cover.tgaposter {
  position: static;
  background-color: #d2d2d2;
  background-image: url('../images/gluedposter-mockup-freebie.png');
  background-position: 50% 50%;
  background-size: auto 70%;
  background-repeat: no-repeat;
}

.projectbar100.literallyslides {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projectbar100.kys {
  min-height: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom-style: none;
}

.projectbar100.ade {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 70rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.projectbar100.textset {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
}

.projectbar100.textset.grey.collage-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  max-width: 1600px;
  min-height: 90vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: transparent;
  background-image: url('../images/upload-8923ddf3-8197-4d94-98f9-8535a567db22-2.jpg');
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.projectbar100.textset.grey.b-line {
  border-style: none none solid;
  border-width: 1px;
  border-color: #000;
  border-top: 1px solid #000;
  border-bottom: none;
}

.projectbar100.textset.hidden {
  display: none;
}

.projectbar100.black {
  overflow: hidden;
  background-color: #000;
}

.projectbar100.grey2 {
  background-color: #131113;
  padding-top: 70px;
  padding-bottom: 70px;
  height: 700px;
}

.projectbar100.dgrey {
  overflow: hidden;
  background-color: #323232;
}

.projectbar100.wgrey {
  overflow: hidden;
  background-color: #2a2a2a;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10px;
  padding-right: 10px;
}

.projectblock50.wgrey{
  overflow: hidden;
  background-color: #2a2a2a;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.mt-ext-gif{
  max-width: 47vw;
}

.mt-class-gif{
  height: 35vh;
  margin-top: 30vh;
  margin-bottom: 30vh;
}

.chromews{
  height: 60px;
  margin-bottom: 70px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 10px;
  cursor: inherit;
}

.chromews:hover{
  box-shadow: 0 4px 10px rgba(0,0,0,0.30), 0 2px 3px rgba(0,0,0,0.22);

}

.projectbar100.black.linebelow {
  border-bottom-style: solid;
  border-bottom-color: #fff;
}

.projectbar100.noteonimage {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.projectbar100.noteonimage.silver {
  position: static;
  z-index: 99;
  background-color: #d2d2d2;
}

.projectbar100.noteonimage.silver.is-relative {
  position: relative;
}

.projectbar100.realness {
  min-height: 20rem;
}

.projectbar100.uxdemo {
  overflow: visible;
  max-height: 30rem;
  background-color: #d2d2d2;
}

.projectbar100.uxdemo.ux {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.projectbar100.grey {
  background-color: #d2d2d2;
}

.projectbar100.grey.filmformslink {
  position: relative;
}

.projectbar100.akodont {
  position: relative;
}

.text-block-4 {
  width: 300px;
}

.break {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #000;
}

.text-block-5 {
  text-align: center;
}

.headerplaceholder {
  width: 100%;
  height: 60px;
}

.aslide {
  width: 50%;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.aslide.blacklines {
  border-right-color: #000;
  border-bottom-color: #000;
}

.image-5 {
  width: 100%;
  max-width: 1000px;
}

.bold-text-2 {
  text-decoration: none;
}

.thumblink {
  position: fixed;
  width: 100%;
  height: 100%;
}

.image-6 {
  width: 100%;
}

.image-7 {
  max-width: 900px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.kysimage {
  width: 100%;
  max-width: 900px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.image-8 {
  position: relative;
  left: 500px;
  z-index: 1;
}

.image-9 {
  position: absolute;
  left: 140.5px;
  top: 133px;
}

.image-10 {
  position: absolute;
  right: 234.5px;
  bottom: 231.5px;
}

.image-11 {
  position: absolute;
  left: 858px;
}

.image-12 {
  position: absolute;
  right: 100px;
  bottom: 282.5px;
}

.image-13 {
  position: absolute;
  right: 50px;
}

.image-14 {
  position: absolute;
  left: 186px;
  bottom: 150.5px;
}

.video {
  max-width: 1000px;
}

.image-15 {
  max-width: 75%;
}

.pbtext {
  width: 50%;
  font-weight: 300;
  text-align: center;
}

.pbtext.list {
  margin-bottom: 12px;
  text-align: left;
}

.pbtext.list.archetype {
  margin-bottom: 0px;
  text-decoration: underline;
}

.pbtext.list.dentro {
  width: 100%;
}

.image-showcase {
  z-index: 1;
  width: 90%;
  max-width: 700px;
  margin-top: 12.5%;
  margin-bottom: 12.5%;
}

.image-showcase.wide {
  max-width: 80%;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.image-showcase.image-wider {
  width: 100%;
  max-width: 1000px;
}

.image-showcase.image-wider.is-absolute {
  position: absolute;
  margin-top: 0%;
}

.image-showcase.formslink {
  color: #000;
  text-decoration: none;
}

.image-showcase.kys {
  margin-top: 0%;
  margin-bottom: 0%;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.image-showcase.akodont {
  position: absolute;
  top: -8px;
  max-width: 1000px;
}

.image-showcase.akoshow {
  top: -1%;
  max-width: 1000px;
}

.image-showcase.is-front {
  position: relative;
}

.image-showcase.small {
  max-width: 500px;
}

.image-showcase.small.linearound-is {
  border: 1px solid #000;
}

.text-block-6 {
  max-width: 410px;
}

.text-block-7 {
  text-align: right;
}

.download {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 700px;
  padding: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: none solid;
  border-width: 1px;
  border-color: #000;
}

.download.downloadreal {
  width: 90%;
  height: 400px;
}

.download-title {
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 48px;
}

.image-16 {
  height: 100%;
  max-height: 550px;
}

.div-block-4 {
  width: 50%;
}

.websitescroll {
  overflow: scroll;
  max-height: 30rem;
}

.image-17 {
  width: 360px;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  background-color: #000;
}

.sidebar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 30rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid #000;
}

.sidebar.meio {
  border-left-style: none;
}

.text-block-8 {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.bgplaylist {
  position: static;
  top: 20%;
  bottom: 10%;
}

.image-18 {
  position: relative;
  background-image: url('../images/TINNITUSBLANK.gif');
  background-position: 53% 50%;
  background-size: 60%;
  background-repeat: no-repeat;
}

.image-19 {
  position: absolute;
  left: 11%;
  top: 34%;
  max-width: 100%;
}

.video-2 {
  max-width: 1000px;
}

.collage4 {
  position: absolute;
  bottom: -30%;
  z-index: 1;
  width: 100%;
  max-width: 700px;
}

.collage4.wide {
  max-width: 80%;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.collage4.image-wider {
  width: 100%;
  max-width: 1000px;
}

.collage4.image-wider.is-absolute {
  position: absolute;
  margin-top: 0%;
}

.collage4.formslink {
  color: #000;
  text-decoration: none;
}

.collage4.kys {
  margin-top: 0%;
  margin-bottom: 0%;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.collage4.akodont {
  position: absolute;
  top: -8px;
  max-width: 1000px;
}

.collage4.akoshow {
  top: -1%;
  max-width: 1000px;
}

.collage4.is-front {
  position: relative;
}

.collage4.small {
  max-width: 500px;
}

.collage4.small.linearound-is {
  border: 1px solid #000;
}

.collage4.c-1 {
  width: 1600%;
  max-width: 1600px;
}

.collage4.c-2 {
  top: 50%;
}

.div-col-1 {
  position: absolute;
  bottom: -25%;
  width: 38.7%;
}

.col-1 {
  position: relative;
  left: 37%;
}

.div-col-2 {
  position: absolute;
  top: -22%;
  width: 43.7%;
}

.col-2 {
  position: relative;
  right: -8%;
}

.div-col-3 {
  position: absolute;
  bottom: -41%;
  width: 34%;
}

.col-3 {
  position: relative;
  left: -50%;
  z-index: 1;
}

.projectbarcollage {
  position: static;
  margin-top: 99px;
  margin-bottom: 10vh;
  background-image: url('../images/rsz_collage-bg-01.png');
  background-position: 50% 0%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.lag1 {
  position: static;
}

.bodybgchaos {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  border: 1px none #000;
  border-radius: 1px;
  font-family: 'JetBrains Mono', sans-serif;
  color: #000;
  font-size: 12px;
  text-decoration: none;
  cursor: inherit;
}

.dark-mode-toggle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: inherit;
}

.dialoguebg {
  position: fixed;
  z-index: 99;
  display: none;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  opacity: 1;
}

.dialoguebox {
  width: 300px;
  height: 230px;
  padding: 25px 30px;
  background-color: #fff;
  text-align: center;
}

.dialogueoption {
  margin-top: 7px;
  margin-bottom: 7px;
}




/* HOVER BOX */
/* Style the hover box */
#hover-box {
  position: absolute;
  background-color: lightyellow;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  z-index: 1000;
  pointer-events: none;
  margin: 20px;
}

/* Style the links */
.hover-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}




/* CV */
.cv-wrapper{
  display: flex;
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.cv-body{
  flex: 1;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  max-width: 1180px;
}

.cv-main-content-wrapper{
  display: flex;
  flex-direction: row;
}

.cv-side{
  width: 350px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.cv-section{
  border-top: 1px solid black;
  padding: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.cv-section.cvheader{
  border-top: none;
  gap: 0px;
  padding-top: 50px;
}

.cv-section.cvexperience{
  min-height: unset;

}

.cv-section.cveducation{
  flex: 1;
  border-left: 1px solid black;
}

.cv-circle-unit{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-circle-shape{
  border-radius: 50%;
  border: 1px solid black;
  width: 250px;
  height: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}

.cv-oval-shape{
  border-radius: 50%;
  border: 1px solid black;
  width: 33%;
  height: 100px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
}

.cv-big-section-title{
  font-size: 24px;
  font-weight: 700;
}

.cv-small-section-title{
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}

.cv-institution{
  font-size: 14px;
  font-weight: 700;
}

.cv-institution-icon{
  height: 14px;
  width: 14px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}

.cv-institution-icon.withsub{
  position: relative;
  top: 5px;
}


.cv-award-icon{
  height: 14px;
  width: 14px;
}

.cv-city{
  color: lightgray;
}

.cv-city.big{
  font-size: 14px;
}

.cv-faculty{
  margin-left: 19px;
  font-weight: 900;
  font-size: 10px;
  margin-bottom: -4px;
  position: relative;
  bottom: 4px;
}

.cv-offset{
  margin-left: 19px;
}


.the-3-circles{
  display: flex;
  gap: 10px;
}

.cv-summary-itembox{
  font-size: 14px;
}

.cv-honors-chunk{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cv-award-div{
  line-height: 16px;
}

.cv-combo-stick{
  margin-top: 9px;
  height: 250px;
  width: 20px;
  display: flex; flex-direction: column; align-items: start;
  margin-right: 13px;
  width: 7px;
}

.cv-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2d2d2;
  border: 1px solid black;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  position: relative;
  margin-top: 7px;
}

.cv-thumb:hover{
  background-color: grey;
  color: #fff;
  padding: 5px;
  transition: 0.3s;
}

.cv-thumb-img{
  color: #000;
}

.cv-thumb-group{
  display: flex;
  gap: 10px;
}

.cv-thumb-arrow{
  position: absolute;
  top: 0px;
  right: 5px;
}

.job-description{
  display: block;
}

/* FILE LIST */
.file-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid BLACK ;
  min-height: 12em;
  justify-content: space-between;
}

.file-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.file-info {
  flex-grow: 1;
}
.file-download {
  margin-left: 10px;
  padding: 5px 10px;
  text-decoration: none;
  COLOR: BLACK;
  BORDER: 1PX SOLID BLACK;

}

.file-description{
  text-transform: uppercase;
}

.file-download:hover {
  background-color: BLACK;
  color: WHITE;
}

.file-title{
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 850px) {
  .file-item{
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: unset;
    gap: 20px;
  }
  .file-download{
    margin-left: unset;
  }
  p.fword{
    display: none;
  }
}


@media screen and (max-width: 1500px) {
  .thumb {
    width: 33.333%;
    height: 25rem;
  }
}

@media screen and (max-width: 1360px) {

  .cv-main-content-wrapper{
    flex-direction: column;
  }

  .the-3-circles{
    flex-direction: column;
  }

  .cv-oval-shape{
    width: 100%;
  }

  .cv-section.cveducation{
    border-left: unset;
  }

  .cv-section.cvexperience{
    min-height: unset;
  }
}

@media screen and (max-width: 991px) {


  .cv-side{
    width: unset;
  }
  
  .cv-wrapper{
    flex-direction: column;
  }

  .thumb {
    width: 50%;
    height: 25rem;
  }

  .pbtext {
    width: 60%;
  }

  .thumbtagcontainer.projectpage {
    max-width: 80%;
  }

  .div-block-4 {
    width: 90%;
  }

  .projectbar100.textset {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .projectbar100.uxdemo.ux {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .aslide {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .pbtext {
    width: 90%;
  }

  .thumbtagcontainer{
    max-width: 100%;
  }
  .thumbtagcontainer.projectpage {
    width: 90vw;
  }
}

@media screen and (max-width: 610px) {
  .thumb {
    width: 100%;
    height: 25rem;
  }

  .apetrechos{
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .thumb {
    width: 100%;
    height: 27rem;
  }

  .imltexto{
    height: 4em;
  }

  .link {
    margin-right: 12px;
  }

  .link.projectname {
    text-align: left;
  }


  .thumbtagcontainer.projectpage {
    max-width: 90%;
    width: 90vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .butialso {
    padding-right: 12px;
  }

  .contactbye.about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contactblock {
    width: 100%;
    border-bottom: 1px solid #000;
  }

  .me {
    width: 100%;
    border-bottom: 1px solid #000;
  }

  .image-showcase.image-wider {
    width: 90%;
  }

  .collage4.image-wider {
    width: 90%;
  }

  .iamlegend {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}

