/* TEACHABLE SALES PAGE */

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    background-color: #E6E6E6;
    min-width: 350px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container.header{
    justify-content: space-between;
    max-width: 100%;
}

.container-hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container-hero.final{
    margin-top: 70px;
}

.container.hero.final{
    height: unset;
    min-height: unset;
    border-radius: 40px;
    padding-bottom: 80px;
}

.final-call{
    scale: 0.7;
    margin-top: unset;
    margin-bottom: unset;
}

.container.sections {
    flex-direction: column;
    padding-top: 100px;
}

.divider-section{
    background-color: #191919;
}

.divider{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
    padding: 100px 0px;
}

.divider h3{
    font-weight: 400;
}


.course-mod-length.legend{
    margin-bottom: 20px;
    max-width: 350px;
    text-align: center;
}

#collapse-button-live_wrapper {

    width: 100%;         /* The button should occupy the full width of its container */
    padding: 10px;       /* Add some padding to increase the button's size */
    text-align: center;  /* Center the button's text */
    color: white;         /* Set the color of the button's text */
    border: none;
    height: 60px;
    background-color: #191919;
  }
  
  #collapse-button-live_wrapper:hover {
    background: #31DD00; /* Change the button's background color when it is hovered over */
  }

#collapse-button-schedule_wrapper {

    width: 100%;         /* The button should occupy the full width of its container */
    padding: 10px;       /* Add some padding to increase the button's size */
    text-align: center;  /* Center the button's text */
    color: white;         /* Set the color of the button's text */
    border: none;
    height: 60px;
    background-color: #191919;
  }
  
  #collapse-button-schedule_wrapper:hover {
    background: #31DD00; /* Change the button's background color when it is hovered over */
  }


  #collapse-button-top {
    margin: 10px;
  }

.logo{
    width: 50px;
    height: 50px;
}

header {
    background-color: white;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid black;
}

header nav a {
    color: transparent;
    margin-right: 20px;
    text-decoration: none;
    font-size: 12PX;
}

.top-placeholder{
    height: 50px;
    width: 100%;
}

.cta-button {
    height: 40px;
    background-color: #006703;
    border: none;
    padding: 0 20px;
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 20px;
    color: white;
}


.cta-button:hover{
    background-color: #00C008;
}

.cta-button.group {
    margin: 10px;
    margin-bottom: 30px;
}

.hero {
    background-color: rgb(206, 206, 206);
    height: 95vh;
    min-height: 900px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.hero_wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image{
    margin-left: 10px;
    height: 37px;
    filter: brightness(0);
}

.hero_image_navbar{
    height: 30px;
    padding: 5px;
    filter: brightness(0) invert(1);
}

.hero-title {
    font-size: 35px;
    font-weight: 300;
    white-space: nowrap;
}

.hero h2 {
    font-size: 17px;
    font-weight: 300;
    margin: 0px;
}

h2 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* UNIBOXER */

.unibox{
    display: flex;
    flex-direction: column;
    max-width: 460px;
    color:white;
}

.unibox.wrapper{
    margin-top: 30px;
    background-color: #323232;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unibox.header{
    text-align: center;
    padding: 15px;
    font-size: 14px;
    border: none;
    border-bottom:1px solid white;
    flex-direction: row;
    justify-content: space-between;
}

.unibox.footer{
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.unibox.uniname{
    border-radius: 20px;
    border: 1px solid white;
    font-size: 14px;
    padding: 2px 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 300;
}

.unibox.bg{
    border: 1px solid white;
}

.unibox.programname{
    font-weight: 300;
    margin-top: 4px;
    padding: 0px 10px;
    text-align: center;
    margin-bottom: 10px;
    min-width: 270px;
}

.unibox.coursename{
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    padding-top: 0px;
}


/* dropdowns */

#dropdowns-container {
    display: flex;
    flex-direction: column;
    width: 80%; /* Adjust width as necessary */
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    max-width: 460px;
    padding: 0px 40px;
}

#dropdowns-container select {
    padding: 7px 10px;
    font-size: 16px;
    border: 1px solid #ddd; /* Light gray border */
    background-color: #f8f8f8; /* Very light gray background */
    outline: none;  /* To remove the focus outline */
    width: 100%;    /* To make the dropdown full width of its parent */
    margin: 20px 0;
}

#dropdowns-container select:focus {
    border-color: #a8a8a8; /* Darker gray border on focus */
}

/* If you have icons for the dropdown arrows (optional) */
#dropdowns-container select::after {
    content: "TESTS"; /* A simple arrow for demonstration. You can use icons too */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}








.cta-button.large {
    height: 70px;
    width: 250px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 50px;
}

.hero-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-wrapper {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.price {
    font-size: 22px;
    font-weight: 300;
}

.price-subtitle {
    font-size: 14px;
    font-weight: 300;
}

.content h3 {
    font-size: 22px;
    font-weight: 400;
    margin: 0px auto;
    margin-top: 35px;
    margin-bottom: 20px;
}

#dropdowns-container h3 {
    font-size: 18px;
    font-weight: 400;
    margin: unset;
    margin-top: 0px;
    margin-bottom: 20px;
}

#sign-up-line{
    font-size: 11px;
    text-align: center;
    padding: 0px 20px;
}

.light2{
    background-size:130% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(images/light2.png);
    height: 200px;
    margin-bottom: 50px;
}


.subsection {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 75px;
}

.subsection h4 {
    font-size: 28px;
    font-weight: 500;
    margin: 0px;
}

.subsection p {
    font-size: 22px;
    font-weight: 300;
    margin-top: 3px;
}

.subsection-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #191919;
    width: 100%;
    aspect-ratio: 1.8;
}

.subsection-img.one{
    background-image: url(images/summary.png);
    background-color: #323232;
}

.subsection-img.two{
    background-image: url(images/table.png);
    background-size: 40%;
}

.subsection-img.three{
    background-size: auto 100%;
    background-image: url(images/live-sprint-example.png);
}

.subsection-img.four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
}

.subsection-img.four::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(images/study-group.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(15%);
    z-index: -1;
}

.subsection-img.five{
    background-size: auto 70%;
    background-image: url(https://isaque.me/images/megafocus-1.gif);
    background-color: #191919;
    display: flex;
    justify-content: center;
}

.subsection-img.six{
    background-size: auto 95%;
    background-image: url(images/chat.png);
    background-color: #3c3c3c;
    background-position: center 0%;
}

.schedule_parent{
    width: 100%;
    min-height: 400px;
}

.schedule_wrapper{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 0px;

}

#collapse-button-wrapper{
    width: 100%;
}

#collapse-button-wrapper2{
    width: 100%;
}

button {
    font-family: inherit;
}

.schedule{
    border: 1px solid black;
    width: 100%;
    max-width: 350px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-bottom: 20px;
}

.schedule_header{
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.course-row{
    display: flex;
    align-items: center;
    padding: 7px 0px;
    width: 100%;
}

.course-row:hover{
    background-color: #E6E6E6;
}

.course-mod-img{
    height: 100%;
}

.course-mod-txt{
    font-size: 15px;
    font-weight: 500;
    padding-left: 12px;
}

.course-mod-txt.list{
    padding-left: 0px;
}

.course-mod-arrow{
    height: 15px;
    background-image: url(images/icon-mod.svg);
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.course-mod-length{
    margin-left: 7px; font-size: 12px; font-weight: 300; position: relative;
}

.course-mod-preview{
    margin-left: 10px; border: 1px solid black; border-radius: 20px; font-size: 12px; padding: 2px 7px; position: relative; bottom: 1px; display: none;
}


.bullet_wrapper{
    position: relative;
}

.bullet {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0px;
    left: -32px;
    filter: brightness(65%);
}

.tier {
    text-align: center;
}


/*LIVE EVENTS*/

.live_wrapper{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px 0px;

}

.liveplus_event{
    height: 80px;
    width: 100%;
    max-width: 310px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.liveplus_event.appendix{
    height: 30px;
    justify-content: center;
    border-top: unset;
    padding: 10px 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.event_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.event_header{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.event_included{
    display: flex;
}

.event_place{
    font-size: 12px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.event_included_img{
    width: 10px;
    margin-right: 3px;
    margin-left: 12px;
}

.event_included_text{
    font-size: 12px;
    white-space: nowrap;
}

.event_title{
    font-size: 18px;
    font-weight: 500;
}

.event_date {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8px;
}

.event_footer{
    display: flex;
    align-items: center;
}

.event_time{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 300;
    padding: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 8px;
    white-space: nowrap;
}

.event_time.label{
    border: unset;
    border-radius: unset;
    padding: unset;
    margin-bottom: 2px;
}

.tier-price {
    font-size: 12px;
    font-weight: 300;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.tier-price.out{
    box-sizing: border-box;
    height: 100%;
}

/* COLLAPSER */

.expand-bar {
    background: #f2f2f2;
    height: 29px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
  }

  /*DIRECT*/

  .direct_wrapper{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}


/* CALCULATOR */

.flex-numbers{
    display:flex;
    align-items:center;
    justify-content: center;
}

.number-unit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50%;
}

#calculator {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#calculator button {
    background-color: #191919;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

#calculator button:hover {
    background-color: #45a049;
}

h2.calc-title{
    color: black;
    margin-bottom: 5px;
    margin-top: 30px;
    font-size: 15px;
}

#calculator label{
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
}

#result{
    font-size: 22px;
    font-weight: 300;
    color: black;
    margin-right: 5px;
}

.result_black{
    color: black;
}

.calc-footer p{
    color: white;
    font-size: 14px;
}

.calc-footer{
    display: flex;
    align-items: center;
}

.calc2003{
    color: black;
}

.calc-footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.note2003{
    font-size: 10px;
    color: white;
    padding: 2px;
}

.calc2003menor {
    color: black;
    font-size: 11px;
    margin-left: 10px;
}

.number-inputs{
    padding: 0px;
    text-align: center;
    font-size: 14px;
    font-family: inherit;
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 200;
}

.sessions_wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: 50px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.session{
    height: 50px;
    width: 50px;
    background-image: url('images/session.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1 0 10%;  /* Do not grow, do not shrink, base width is 20% */
    max-width: 15%; /* Maximum width is 20% */
    
}

.students_wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.student{
    height: 50px;
    width: 20px;
    margin: 10px 0px;
    background-image: url('images/student.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1 0 10%;  /* Do not grow, do not shrink, base width is 20% */
    max-width: 10%; /* Maximum width is 20% */
    filter: invert(1);
}

.flex_benefits{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.benefit_item{
    flex: 1 0 42%;  /* Do not grow, do not shrink, base width is 20% */
    max-width: 42%; /* Maximum width is 20% */
    display: flex;
    align-items: center;

    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
}

.benefit_title{
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 5px;
}

.benefit_description{
    font-size: 12px;
}

.benefit_icon_inv{
    filter: invert(1);
    height: 60px;
}

.calculator-wrapper{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check_list{
    display: flex;
    flex-direction: column;
    width: 270px;
    gap: 10px;
    padding: 20px;
    border: 1px solid black;

    margin: 20px;
}

.check_item{
    display: flex;
    align-items: center;
}

.targetbreak {
    height: 400px;
    background-image: url(images/target.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: invert(1);
    width: 100%;
}



/*FOOTER*/

footer{
    font-size: 12px;
    color: white;
    background-color: #191919;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.final-crown {
    height: 50px;
    width: 100%;
    background-image: url(images/logo_crown.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.footer-main-1 {
    width: 50%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.footer-main-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 50%;
    margin: 30px;
}

.contact {

}

.f-links {
    color: white;

}


/* PLAN GRID */

.tier-price {
    font-size: 12px;
    font-weight: 300;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    }
    
    .tier-price.out2{
    padding-top: unset;
    padding-bottom: unset;
    padding-left: 7px;
    padding-right: unset;
    box-sizing: border-box;
    }
    
    .tier-price.in{
    border: unset;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px black;
    }
    
    .price_row{
    max-width: 100%;
    border: 1px solid black;
    border-top: none;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
    }
    
    .price_row:hover {
    background-color: #31DD00;
    }
    
    .price_cluster{
    display: flex;
    flex-direction: column;
    }
    
    .price_digit{
    font-size: 25px;
    }
    
    
    .tier-mega-name {
    font-weight: 300;
    margin-right: 10px;
    }
    
    .tier-body {
    border: 1px solid black;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    }
    
    .tier-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    min-height: 32px;
    }
    
    .tier-item.pro {
    margin-top: 30px;
    }
    
    .tier-item-text {
    font-size: 19px;
    padding-right: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
    
    .tier-item-icon-wrapper {
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .tier-item-icon-wrapper.plan {
    width: 30px;
    padding-left: 10px;
    padding-right: 10px;
    }
    
    .tier-item-icon-wrapper.plan.tall {
    height: 0px;
    }
    
    .tier-item-icon {
    height: 70px;
    }
    
    .tier-item-icon.plan {
    height: 15px;
    }
    
    .ttt-title {
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    }
    
    .tier-footer.plan {
    border-left: 1px solid black;
    width: 99.2%;
    }

    .tier-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 99.4%;
        border-left: 1px solid black;
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        border-top: 1px solid black;
        border-right: 1px solid black;
    }
    
    .tier-footer-title.plan.price{
    flex-direction: column;
    }
    
    .tier-footer-title.plan{
    
    }
    .link-limpo {
    text-decoration: none;
    }

    .price_sub{
        font-size: 12px;
    }
    
    
    
    .grid {
    display: flex;
    gap: 20px;
    }

    .column{
        width: 31%;
    }
    
    .column.long {
    overflow: unset;
    }
    
    .grid-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    }

    .final-section-tier{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .tier-price.center{
    margin-left: unset;
    }
    
    .shadowed {
    opacity: 1%;
    }
    
    .post-text{
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 60px;
    }
    
    .event_time.label{
    border: unset;
    border-radius: unset;
    padding: unset;
    margin-bottom: 2px;
    }
    
    .post-text.pause{
    position: absolute;
    margin-top: unset;
    margin-bottom: unset;
    bottom: -30px;
    }
    
    .tierTextUnder500{
    display: none;
    }

    .centerlabel {
        justify-content: center;
    }

    .tier-table.plan {
        margin-bottom: 10px;
    }


    .zigzagbreak {
        height: 70px;
        background-image: url(images/zigzag.png);
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        filter: invert(1);
        WIDTH: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .subsection h4 {
        font-size: 20px;
    }

    .subsection p {
        font-size: 16px;
        font-weight: 300;
    }


/* CALL TO SCROLL ARROW */

.floating-arrow {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 15vh;
   }
  
  .arrow {
    font-size: 30px;
    font-weight: 200;
    color: #191919;
    text-align: center;
    animation: moveUpDown 1s linear infinite;
    margin-bottom: 10px;
  }
  
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

    
    @media screen and (max-width: 680px) {
        .tier-body{
            width: 100%;
            min-height: unset;
        }

        .grid{
            flex-wrap: wrap;
        }

        .column {
            width: 100%;
            padding: 0px 15px;
        }

        .container-hero{
            max-width: 90%;
            margin-top: 0px;
        }

        .hero-image{
            height: 27px;
        }

        .hero-title{
            font-size: 25px;
        }

        .unibox.wrapper{
            margin-top: 15px;
        }

        .unibox.coursename{
            font-size: 25px;
        }

        .container{
            max-width: unset;
        }

        .subsection{
            margin-bottom: 200px;
        }

        .subsection h4 {
            padding: 0px 15px;
        }

        .subsection p {
            padding: 0px 15px;
        }

        #dropdowns-container {
            padding: 0px;
        }

        .sessions_wrapper{
            scale: 0.7;
        }
    
    }